.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(5px + 2vmin);
  color: white;
  padding-right: 20px;
  padding-left: 20px;
}

.New-post-button {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 15px;
}

.Editor {
  margin-top: 20px;
  padding-left: 20px;
  width: 50%;
  text-align: left;
}

.Editor input[type="text"],
.Editor textarea {
  display: inline-block;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 50%;
  height: auto;
}

.Editor textarea {
  height: 120px;
}

.Editor input[type="submit"] {
  display: inline-block;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.Blog {
  padding-top: 60px;
  padding-left: 100px;
}

.Post-div {
  text-align: left;
  margin-bottom: 100px;
}

.Edit-post {
  display: inline-block;
  margin-top: 25px;
  text-decoration: underline;
  cursor: pointer;
}

.Close-editor {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 25px;
}